.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.containerset {
    width: 800px;
    max-width: 1200px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.header{
    border-bottom:solid 1px #cccccc;
    padding: 10px;
    display: flex;
}
.title{
    font-weight: bold;
    font-size: 25px;
}
.gotoprofile{
    flex:auto;
    text-align: end;
    padding-top: 10px;
    font-size: 15px;
}
.subtitle{
    font-weight: bold;
    font-size: 20px;
    margin:30px 20px;
}
.link{
    color:#007bff;
}
.link:hover{
    text-decoration: underline;
    color:#0056b3;
    cursor: pointer;
}
.form-group {
    margin: 20px 60px 20px 30px;
}
.subform-group {
    margin: 30px 50px 30px 20px;
}
.name{
    display: flex;
    margin-top: 20px;
}
.subgroup{
    flex:none;
    width: 25%;
    margin-right: 90px;
}
.doublesubgroup{
    display: flex;
}
.doublesubgroupleft{
    flex:none;
    width: 40%;
    margin-right: 100px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.select2-selection{
    height: 40px !important; 
    display: flex !important;              /* 使用 flexbox 对齐内容 */
    align-items: center;
}
.select2-results__option--selected {
    background-color: transparent !important;
}
.select2-results__option--highlighted {
    background-color: #f1f1f1 !important;  
    color: #000000 !important;  
}
.select2-selection__arrow {
    top:7px !important;
}
.clear-btn {
    position: absolute;
    right: 500px;
    cursor: pointer;
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 100%;
    color: #c0c0c0;
}
.sbt-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top:15px;
    margin-bottom: 5px;
}
.sbt-btn:hover {
    background-color: #0056b3;
}
.sbt-btn2 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 30px 15px 0;
}
.sbt-btn2:hover {
    background-color: #0056b3;
}
.seperator{
    background-color: #cccccc;
    height: 1px;
}
.seclab{
    font-weight: bold;
    padding: 10px 0;
}
.sec-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.sec-btn:hover {
    background-color: #0056b3;
}
/* 模态框的覆盖层样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1; /* 保证在最上层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 半透明背景 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

/* 模态框内容样式 */
.modal-content {
    background-color: white;
    margin: 15% auto; /* 居中显示 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

/* 关闭按钮样式 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.hidden-field {
display: none;
}