{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Banking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="static/images/Logo.png" alt="Logo" height="30">
        </a>
        <form class="form-inline mx-auto">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="What service are you looking for today?" aria-label="Search" style="width: 400px;">
                <div class="input-group-append">
                    <button class="btn btn-dark search" type="submit">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="btn" href="#" role="button">Create Account</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="#" role="button">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Navigation Links Below Header -->
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col text-center py-2">
                <a href="#">Graphics & Design</a> |
                <a href="#">Programming & Tech</a> |
                <a href="#">Digital Marketing</a> |
                <a href="#">Video & Animation</a> |
                <a href="#">Writing & Translation</a> |
                <a href="#">Music & Audio</a> |
                <a href="#">Business</a> |
                <a href="#">Finance</a> |
                <a href="#">AI Services</a> |
                <a href="#">Personal Growth</a>
            </div>
        </div>
    </div>



    <footer class="text-center py-4">
        <p>&copy; 2024 Time Banking. All rights reserved.</p>
    </footer>


</body>
</html>
