{% extends "master.html" %}
{% load static %}

{% block title %}
My Service
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">

<div class="container_isne">
<div class="headline_kkdi">Manage your Services</div>
{% for listing in listings %}
    <div class="card_dd47">
        <img src="{{ listing.image.url }}" class="card-img-left top-offset" alt="{{ listing.title }}">
        <div class="card-body_se4d">
            <div><a href="{% url 'view_listing' listing.id %}" class="card-title_s4e8 top-offset">{{ listing.title }}</a></div>
            <div class="top-offset">{{ listing.description }}</a></div>
            <div class="card-text_s4e8 bottom-offset">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="dimgrey" class="status_pps4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                      </svg>
                    Status: {{ listing.status }}
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="dimgrey" class="status_pps4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                      </svg>                      
                    Posted at {{ listing.posted_at|date:"M. j, Y" }}
                </div>
            </div>
        </div>
        <div class="btn-column">
            <a href="{% url 'edit_listing_page' listing.id %}" class="btn btn-primary btn-item">Edit</a>
            <a href="{% url 'view_applicants' listing.id %}" class="btn btn-primary btn-item">Select your applicant</a>
            <a href="#" class="btn btn-primary btn-item">Delete</a>
            <a href="#" class="btn btn-primary btn-item">Mark as complete</a>
        </div>
    </div>
{% empty %}
    <div class="no-applications">No services yet.</div>
{% endfor %}
</div>
{% endblock %}