{% extends 'master.html' %}
{% load static %}

{% block title %}
{{ user.username }}'s Profile
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile_info.css' %}">

<div id="profile-info-page" class="container">
    <div class="row">
        <!-- Left Column: Profile Card -->
        <div class="col-left">
            <div class="profile-card">
                <div>
                    {% if user.picture %}
                        <img src="{{ user.picture.url }}" alt="Profile Picture" class="profile-picture">
                    {% else %}
                        <img src="{% static 'images/default-avatar-profile-icon-social-600nw-1677509740.jpg.webp' %}" alt="Default Profile Picture" class="profile-picture">
                    {% endif %}
                    <p> {{ user.title }} {{ user.name }}</p>
                    
                    <p><i class="fa fa-map-marker"></i> {{ user.location }}</p>
                    <p><i class="fa fa-calendar"></i> Joined in {{ user.date_joined|date:"F Y" }}</p>
                    <p>Bio: {{ user.bio }}</p>
<p><i class="fa fa-envelope"></i> {{ user.email }}</p>


                    <p>Link: <a href="{{ user.link }}">{{ user.link }}</a></p>
                </div>
                
                

                <div class="time-credits">
                    <h3>Time Credits Earned</h3>
                    <p>{{ total_credits|default:"0" }} hours</p>
                </div>

                <div class="multiplier-section">
                    <h3>Current Multiplier</h3>
                    <p>{{ multiplier|default:"1.0" }}</p>
                </div>

                {% if user == request.user %}
                    <a href="{% url 'edit_profile' %}" class="button-primary">Edit Profile</a>
                    <a href="{% url 'create_listing_page' %}" class="button-primary">Create Listing</a>
                {% endif %}
            </div>
        </div>
        

        <!-- Right Column: Skills and Services -->
        <div class="col-right">
            {% if user == request.user %}
                <h2>Hi 👋 {{ user.name }}, complete your profile to earn more time credits!</h2>
                <p>Get the most out of our platform by sharing more about yourself and how you prefer to offer services.</p>
            {% endif %}
            <!-- Skills Section -->
            <div class="checklist-item">
                {% if request.user == user %}
                    <h3>Add Your Skills</h3>
                {% else %}
                    <h3>Skills</h3>
                {% endif %}
                <ul class="skills-container">
                    {% for skill in skills %}
                        <li class="skill-item">
                            <div style="display: inline-block">
                                {{ skill.name }}
                            </div>
                            {% if request.user == user %}
                            <form method="post" class="add-skill-form" style="display: inline-block">
                                {% csrf_token %}
                                <button class="btn addskill" name="remove_skill" value="{{ skill.id }}" type="submit">
                                    <i class="fa-solid fa-remove"></i>
                                </button>
                            </form>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li class="skill-item">No skills added yet.</li>
                    {% endfor %}
                </ul>
            
                <!-- Add Skill Form (only for the profile owner) -->
                {% if request.user == user %}
                <form method="post" class="add-skill-form">
                    {% csrf_token %}
                    <div class="input-group" style="margin-bottom: 20px;">
                        <input class="skillbar" type="text" name="skills" placeholder="Enter a skill">
                        <div class="input-group-append">
                            <button class="btn btn-dark addskill" name="add_skill" type="submit">
                                <i class="fa-solid fa-add"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>

            

            <!-- Services Section -->
            <div class="services-section">
                <h3>Services Offered by {{ user.username }}</h3>
                {% if offered_services %}
                    <div class="listings-grid">
                        {% for listing in offered_services %}
                            <a href="{% url 'view_listing' listing.id %}" class="card-link">
                                <div class="listing-card">
                                    {% if listing.image %}
                                        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="listing-image">
                                    {% else %}
                                        <img src="{% static 'images/default-listing-image.jpg' %}" alt="Default Listing Image" class="listing-image">
                                    {% endif %}
                                    <div class="listing-details">
                                        <h5>{{ listing.title }} ({{ listing.listing_type }})</h5>
                                        <p>{{ listing.description|truncatewords:15 }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No offered services found for {{ user.username }}.</p>
                {% endif %}
            </div>
            
            <div class="services-section">
                <h3>Services Requested by {{ user.username }}</h3>
                {% if requested_services %}
                    <div class="listings-grid">
                        {% for listing in requested_services %}
                            <a href="{% url 'view_listing' listing.id %}" class="card-link">
                                <div class="listing-card">
                                    {% if listing.image %}
                                        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="listing-image">
                                    {% else %}
                                        <img src="{% static 'images/default-listing-image.jpg' %}" alt="Default Listing Image" class="listing-image">
                                    {% endif %}
                                    <div class="listing-details">
                                        <h5>{{ listing.title }} ({{ listing.listing_type }})</h5>
                                        <p>{{ listing.description|truncatewords:15 }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No requested services found for {{ user.username }}.</p>
                {% endif %}
            </div>
            
            <!-- reviews -->
            <div class="reviews-section" >
                <h3>Reviews</h3>
                <div class="reviews" id="reviews">
                    {% if reviews %}
                        {% for review in reviews %}
                            <div class="review-card">
                                <div class="review-header">
                                    {% if review.requester.picture %}
                                        <img src="{{ review.requester.picture.url }}" 
                                            alt="{{ review.requester.username }}" 
                                            class="reviewer-image">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.jpg' %}" 
                                            alt="{{ review.requester.username }}" 
                                            class="reviewer-image">
                                    {% endif %}
                                    <div>
                                        <h3>{{ review.requester.username }}</h3>
                                        <small>{{ review.created_at|date:"F d, Y" }}</small>
                                    </div>
                                </div>
                                <p class="review-content">{{ review.details }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No reviews yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addSkillField() {
    const skillFieldsContainer = document.getElementById('skill-fields');
    const newField = document.createElement('div');
    newField.className = 'skill-field';
    newField.innerHTML = `
        <input type="text" name="skills" placeholder="Enter a skill" class="skill-input">
        <button type="button" class="remove-skill-button" onclick="removeSkillField(this)">-</button>
    `;
    skillFieldsContainer.appendChild(newField);
}

function removeSkillField(button) {
    const fieldToRemove = button.parentElement;
    fieldToRemove.remove();
}


</script>

{% endblock %}

