{% extends "master.html" %}

{% block content %}
<div class="listing-details">
    <h1 class="listing-title">{{ listing.title }}</h1>
    <p class="listing-category"><strong>Category:</strong> {{ listing.get_category_display }}</p>
    <img src="{{ listing.image.url }}" alt="{{ listing.title }}" class="listing-image">

    <div class="listing-description">
        <h3>Description:</h3>
        <p>{{ listing.description }}</p>
    </div>

    <div class="listing-info">
        <p><strong>Duration:</strong> {{ listing.duration }}</p>
        <p><strong>Posted At:</strong> {{ listing.posted_at }}</p>
    </div>

    <div class="listing-tags">
        <strong>Tags:</strong>
        {% for tag in listing.tags.all %}
            <span class="tag">{{ tag.name }}</span>
        {% endfor %}
    </div>
    <p>Created by: <a href="{% url 'profile_info' user_id=listing.creator.id %}">{{ listing.creator.username }}</a></p>
    <form method="POST" action="{% url 'apply_service' listing.id %}" id= "applyform" class="accept-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Apply Service/Request</button>
        <div id="messageBox" style="display:none;"></div>
    </form>

    <a href="{% url 'edit_listing_page' listing.id %}" class="btn btn-primary">Edit</a>
    
</div>

{% endblock %}
{% block extra_scripts %}
<script>
    document.getElementById('applyform').addEventListener('submit', function(event) {
        event.preventDefault(); 

        const formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken') 
            }
        })
        .then(response => response.json())
        .then(data => {
            const messageBox = document.getElementById('messageBox');
            if (data.success) {
                messageBox.textContent = data.success;
                messageBox.style.color = 'green';
            } else {
                messageBox.textContent = data.error;
                messageBox.style.color = 'red';
            }
            messageBox.style.display = 'block';
        })
    });
</script>
{% endblock %}